[Desktop Entry]
Type=Application
Name=nmap
GenericName=nmap/ncat/nping bundle in AppImage format
Exec=./AppRun
Icon=nmap
Categories=Network;Security;
Terminal=true
NoDisplay=true
