[Desktop Entry]
Type=Application
Name=nmap
GenericName=nmap utilities bundle
Exec=./AppRun
Icon=none
Categories=Network;Security;
Comment=This is a dummy desktop file, execution is handled by the custom apprun
Terminal=true
NoDisplay=true
